In [1]:
# numpy is a foundamental library for scientific computing 
import numpy as np

#seed the random number generator. When you set a seed using this function, it ensures 
#reproducibility in your random number generation
np.random.seed(12345)

#set various printing options for displaying NumPy arrays. The precision parameter is 
#set to 4, which limits the numberof decimal places displayed, and suppress is set to
# True, which suppresses the use of scientific notation for small numbers.
np.set_printoptions(precision=4, suppress=True)
np.array(np.random.standard_normal())

array(-0.2047)

In [2]:
# generate an array of seven random numbers from the standard normal distribution
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
np.array(data)

array([ 0.4789, -0.5194, -0.5557,  1.9658,  1.3934,  0.0929,  0.2817])

## 2.2 IPython Basics

### Tab Completion

In [3]:
## Tab completion
a_gr = 1
a_ug = 2

# type 'a' and then click <tab> after 'a'. What do you see?


# type 'a.' and then click <tab> after 'a.'. What do you see?

In [4]:
def func(x1,x2,y1,y2):
    return x1, x2, x3

In [5]:
#tab completion also saves time in the completion of function keyword arguments
# type 'func(x)' and click <tab> after 'x'. What do you see?
# type 'func(y)' and click <tab> after 'y'. What do you see?

### Introspection

In [6]:
# a is a array of three integers 
a = [1, 2, 3]

In [7]:
## introspection
# Using a question mark (?) before or after a variable will display some general information
# about the object:
a?

In [8]:
def add_numbers(a, b):

    """
    Add two numbers together
    Returns
    -------
    the_sum : type of arguments
    """
    return a + b

In [9]:
# If the object is a function or instance method, the docstring, if defined, will also be shown
add_numbers?

In [10]:
# another usage of tab completion is for searching the IPython namespace
np.*load*?

## 2.3 Python Language Basics

### Variables and argument passing

In [11]:
# after asign 'a' to a new variable 'b', 'b' and 'a' are the same object
a = [1, 2, 3]
b = a
b

[1, 2, 3]

In [12]:
# After we change 'a', will 'b' change as well?
a.append(4)
b

[1, 2, 3, 4]

In [13]:
# define a function with two arguments. The function append the second argument to 
# the first argument
def append_element(some_list, element):
    some_list.append(element)

In [14]:
# When you pass objects as arguments to a function, new local variables are created
# referencing the original objects without any copying. If you bind a new object to a
#variable inside a function, that will not overwrite a variable of the same name in the
# “scope” outside of the function (the “parent scope”). It is therefore possible to 
#alter the internals of a mutable argument.
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

### Dynamic references, strong types

In [15]:
#a variable can refer to a different type of object simply by doing an assignment
a = 5
type(a)

int

In [16]:
a = "foo"
type(a)

str

In [18]:
# we can only concatenate str (not "int") to str
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [19]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [20]:
#can check that an object is an instance of a particular type using the isinstance function
a = 5
isinstance(a, int)

True

In [21]:
# isinstance can accept a tuple of types if you want to check that 
# an object’s type is among those present in the tuple:

a = 5; b = 4.5
isinstance(a, (int, float)) # meanning "is 'a' an integer or a float?""

True

### Attributes and methods

Objects in Python typically have both attributes (other Python objects stored
“inside” the object) and methods (functions associated with an object that can
have access to the object’s internal data).

In [22]:
a = "foo"

#type 'a.<tab>''

In [23]:
#Attributes and methods can also be accessed by name via the getattr function:
getattr(a, "split")

### Duck typing

In [24]:
# isiterable() is a method to determine if an object is iterable
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [25]:
isiterable("a string")

True

In [26]:
isiterable([1, 2, 3])

True

In [27]:
isiterable(5)

False

### Binary operators and comparisons

Binary operators in Table 2-1

In [28]:
5 - 7

-2

In [29]:
12 + 21.5

33.5

In [30]:
5 <= 2

False

In [31]:
a = [1, 2, 3]
b = a
c = list(a)

#To check if two variables refer to the same object, use the is keyword. 
a is b

True

In [32]:
# Use is not to check that two objects are not the same
a is not c

True

In [33]:
# Since the list function always creates a new Python list (i.e., a copy), we can be
# sure that c is distinct from a. Comparing with it is not the same as the == operator,
#because in this case we have:
a == c

True

In [34]:
a = None
a is None

True

### Mutable and immutable objects

Many objects in Python, such as lists, dictionaries, NumPy arrays, and most userdefined
types (classes), are mutable. This means that the object or values that they contain 
can be modified

In [35]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [36]:
# tuple and string are not immutable

a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

### Scalar Types

Python has a small set of built-in types for handling numerical data, strings, Boolean
(True or False) values, and dates and time. These “single value” types are sometimes
called scalar types

In [37]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [38]:
fval = 7.243
fval

7.243

In [39]:
fval2 = 6.78e-5
fval2

6.78e-05

In [40]:
3 / 2

1.5

In [41]:
# integer devision
3 // 2

1

### Strings

In [42]:
#You can write string literals using either single quotes ' or double quotes " (double quotes are
# generally favored):

a = 'I like CIV 355'
a

'I like CIV 355'

In [43]:
b = "I like CIV 555"
b

'I like CIV 555'

In [44]:
# For multiline strings with line breaks, you can use triple quotes, either ''' or """:
c = """
This is a longer string that
spans multiple lines
"""
c

'\nThis is a longer string that\nspans multiple lines\n'

In [45]:
c.count("\n")

3

In [46]:
# Python strings are immutable; you cannot modify a string

a = "I like CIV 355."
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [47]:
# If we need to modify a string, we have to use a function or method that
# creates a new string, such as the string replace method:

b = a.replace("355", "555")
b

'I like CIV 555.'

In [48]:
a = 5.6
s = str(a)
print(f's ={s}, and s is {type(s)}')
print(f'a ={a}, and a is {type(a)}')

s =5.6, and s is <class 'str'>
a =5.6, and a is <class 'float'>

In [49]:
# Strings are a sequence of Unicode characters and therefore can be treated like 
# other sequences, such as lists and tuples:
s = "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [50]:
# The syntax s[:3] is called slicing 

s = "python"
s[:3]

'pyt'

In [51]:
# The backslash character \ is an escape character, meaning that it is used to 
# specify special characters like newline \n or Unicode characters

s = "12\\34"
print(s)

12\34

In [52]:
# preface the leading quote of the string with r, which means that the characters
# should be interpreted as is

s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [53]:
# Adding two strings together concatenates them and produces a new string

a = "I like "
b = "Stony Brook!"
a + b

'I like Stony Brook!'

In [54]:
#String objects have a format method that can be used to substitute formatted
# arguments into the string

template ="{0:s} {1:d} class can earn ${2:.1f} pe year."
template.format('Stony Brook Civil Engineering',2024,1_000_000.00)

#print("{0:s} {1:d} class can earn ${2:.1f} pe year.".format('Stony Brook Civil Engineering',2024,1_000_000.42))

'Stony Brook Civil Engineering 2024 class can earn $1000000.0 pe year.'

In [55]:
# f-string make strong formatting more convenient


Students = 'Stony Brook Civil Engineering'
Class = 2024
Annualsalary = 1000000.00
result = f"{Students} class {Class} can earn ${Annualsalary} per year."
result

'Stony Brook Civil Engineering class 2024 can earn $1000000.0 per year.'

### Bytes and Unicode

In [56]:
# Unicode has become the first-class string type

val = "español"
val

'español'

In [57]:
# encode is the method to convert Unicode to its UTF-8 bytes representation

val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [58]:
# use the method decode to go back to Unicode

val_utf8.decode("utf-8")

'español'

In [59]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

### Booleans

The two Boolean values in Python are written as True and False.

In [60]:
True and True
False or True

True

In [61]:
int(False)

0

In [62]:
int(True)

1

In [63]:
a = True
b = False
not a

False

In [64]:
not b

True

### Type casting

The str, bool, int, and float types are also functions that can be used to cast values to those types

In [65]:
s = "3.14159"
fval = float(s)

In [66]:
type(fval)

float

In [67]:
int(fval)

3

In [68]:
bool(fval)

True

In [69]:
bool(0)

False

### None

None is the Python null value type:

In [70]:
a = None
a is None
b = 5
b is not None

True

In [71]:
# None is also a common argument of function:

def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    if c is not None:
        result = result * c
    return result

In [72]:
add_and_maybe_multiply(1,3,2)

8

In [73]:
add_and_maybe_multiply(1,3,)

4

### Dates and times
The built-in Python datetime module provides datetime, date, and time types

In [74]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21) # (year, month, day, hour, minute, second)

In [75]:
dt.year

2011

In [76]:
dt.month

10

In [77]:
dt.day

29

In [78]:
dt.minute

30

In [79]:
dt.second

21

In [80]:
# Given a datetime instance, you can extract the equivalent date and time objects by 
# calling methods on the datetime of the same namecall objects
dt.date()

datetime.date(2011, 10, 29)

In [81]:
dt.time()

datetime.time(20, 30, 21)

In [82]:
# The strftime method formats a datetime as a string
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [83]:
# Strings can be converted (parsed) into datetime objects with the strptime function

datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [84]:
# The method replace can change time fields 
dt = datetime(2011, 10, 29, 20, 30, 21)
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [85]:
dt = datetime(2011, 10, 29, 20, 30, 21)
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [86]:
type(delta)

datetime.timedelta

In [87]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control folow

Python has several built-in keywords for conditional logic, loops, and other standard
control flow concepts found in other programming languages

#### if, elif, and else

In [88]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [89]:
4 > 3 > 2 > 1

True

In [90]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [91]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [93]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

#### for loops

In [94]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [95]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

#### while loops

In [96]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    print(total,x)

256 128
384 64
448 32
480 16
496 8
504 4